@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Onest&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Onest', sans-serif;
}

* {
  background-color: #102033;
  color: white;
}
